# packages in environment at /coc/flash4/asundar34/miniconda3/envs/hbd_env:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       2_gnu    conda-forge
aiohttp                   3.8.3                    pypi_0    pypi
aiosignal                 1.3.1                    pypi_0    pypi
async-timeout             4.0.2                    pypi_0    pypi
attrs                     22.1.0             pyh71513ae_1    conda-forge
beartype                  0.12.0                   pypi_0    pypi
beautifulsoup4            4.6.0                    pypi_0    pypi
blessed                   1.19.1                   pypi_0    pypi
boto3                     1.24.82                  pypi_0    pypi
botocore                  1.27.82                  pypi_0    pypi
bpython                   0.23                     pypi_0    pypi
bzip2                     1.0.8                h7f98852_4    conda-forge
ca-certificates           2022.12.7            ha878542_0    conda-forge
certifi                   2022.9.24                pypi_0    pypi
chardet                   3.0.4                    pypi_0    pypi
charset-normalizer        2.1.1                    pypi_0    pypi
click                     8.1.3                    pypi_0    pypi
colored                   1.4.4                    pypi_0    pypi
contourpy                 1.0.5                    pypi_0    pypi
curtsies                  0.4.0                    pypi_0    pypi
cwcwidth                  0.1.7                    pypi_0    pypi
cycler                    0.11.0                   pypi_0    pypi
datasets                  2.7.1                    pypi_0    pypi
dill                      0.3.6                    pypi_0    pypi
dotmap                    1.3.30                   pypi_0    pypi
evaluate                  0.3.0                    pypi_0    pypi
fancycompleter            0.9.1           py38h578d9bd_1005    conda-forge
filelock                  3.8.0                    pypi_0    pypi
flashtext                 2.7                      pypi_0    pypi
fonttools                 4.37.4                   pypi_0    pypi
frozenlist                1.3.3                    pypi_0    pypi
fsspec                    2022.11.0                pypi_0    pypi
gdown                     4.5.3                    pypi_0    pypi
greenlet                  1.1.3                    pypi_0    pypi
huggingface-hub           0.10.0                   pypi_0    pypi
humanfriendly             10.0                     pypi_0    pypi
humanize                  4.4.0                    pypi_0    pypi
idna                      3.4                      pypi_0    pypi
jmespath                  1.0.1                    pypi_0    pypi
joblib                    1.2.0                    pypi_0    pypi
kiwisolver                1.4.4                    pypi_0    pypi
ld_impl_linux-64          2.36.1               hea4e1c9_2    conda-forge
libffi                    3.4.2                h7f98852_5    conda-forge
libgcc                    7.2.0                h69d50b8_2    conda-forge
libgcc-ng                 12.1.0              h8d9b700_16    conda-forge
libgomp                   12.1.0              h8d9b700_16    conda-forge
libnsl                    2.0.0                h7f98852_0    conda-forge
libsqlite                 3.39.3               h753d276_0    conda-forge
libstdcxx-ng              12.2.0              h46fd767_19    conda-forge
libuuid                   2.32.1            h7f98852_1000    conda-forge
libzlib                   1.2.12               h166bdaf_3    conda-forge
matplotlib                3.6.3                    pypi_0    pypi
multidict                 6.0.2                    pypi_0    pypi
multiprocess              0.70.14                  pypi_0    pypi
ncurses                   6.3                  h27087fc_1    conda-forge
nltk                      3.7                      pypi_0    pypi
nodejs                    6.13.1                        0    conda-forge
numpy                     1.23.3                   pypi_0    pypi
openssl                   3.0.7                h0b41bf4_1    conda-forge
packaging                 21.3                     pypi_0    pypi
pandas                    1.5.0                    pypi_0    pypi
pathtools                 0.1.2                    pypi_0    pypi
pdbpp                     0.10.3             pyhd8ed1ab_0    conda-forge
pillow                    9.2.0                    pypi_0    pypi
pip                       22.2.2             pyhd8ed1ab_0    conda-forge
protobuf                  3.20.1                   pypi_0    pypi
pyarrow                   10.0.1                   pypi_0    pypi
pygments                  2.13.0             pyhd8ed1ab_0    conda-forge
pyparsing                 3.0.9                    pypi_0    pypi
pyrepl                    0.9.0            py38h0a891b7_7    conda-forge
pysocks                   1.7.1                    pypi_0    pypi
python                    3.8.13          ha86cf86_0_cpython    conda-forge
python-dateutil           2.8.2                    pypi_0    pypi
python_abi                3.8                      2_cp38    conda-forge
pytz                      2022.4                   pypi_0    pypi
pyxdg                     0.28                     pypi_0    pypi
pyyaml                    6.0                      pypi_0    pypi
rank-bm25                 0.2.2                    pypi_0    pypi
readline                  8.1.2                h0f457ee_0    conda-forge
regex                     2022.9.13                pypi_0    pypi
requests                  2.28.1                   pypi_0    pypi
responses                 0.18.0                   pypi_0    pypi
s3transfer                0.6.0                    pypi_0    pypi
sacremoses                0.0.53                   pypi_0    pypi
scikit-learn              1.1.2                    pypi_0    pypi
scipy                     1.9.1                    pypi_0    pypi
seaborn                   0.12.2                   pypi_0    pypi
sentence-transformers     2.2.2                    pypi_0    pypi
sentencepiece             0.1.97                   pypi_0    pypi
setuptools                65.4.0             pyhd8ed1ab_0    conda-forge
six                       1.16.0                   pypi_0    pypi
slurm-gpustat             0.0.13                   pypi_0    pypi
soupsieve                 2.3.2.post1              pypi_0    pypi
sqlite                    3.39.3               h4ff8645_0    conda-forge
tensorboardx              2.5.1                    pypi_0    pypi
threadpoolctl             3.1.0                    pypi_0    pypi
tk                        8.6.12               h27826a3_0    conda-forge
tokenizers                0.12.1                   pypi_0    pypi
torch                     1.10.1+cu111             pypi_0    pypi
torchaudio                0.10.1+rocm4.1           pypi_0    pypi
torchvision               0.11.2+cu111             pypi_0    pypi
tqdm                      4.64.0                   pypi_0    pypi
transformers              4.22.2                   pypi_0    pypi
typing-extensions         4.3.0                    pypi_0    pypi
urllib3                   1.26.12                  pypi_0    pypi
wcwidth                   0.2.5                    pypi_0    pypi
wheel                     0.37.1             pyhd8ed1ab_0    conda-forge
wmctrl                    0.4                pyhd8ed1ab_0    conda-forge
xxhash                    3.1.0                    pypi_0    pypi
xz                        5.2.6                h166bdaf_0    conda-forge
yarl                      1.8.1                    pypi_0    pypi
zstandard                 0.18.0                   pypi_0    pypi
